@page
@model BigStarCollectiblesWebApp.Pages.NewDesignModel
@{
}

<h4>@DateTime.Now.Year Design changes</h4>
<div style=" transform-style: preserve-3d;">
	<div class="row ">
		<div class="col-xs-6 p-2">
			<div class="flip-card mx-auto">
				<div class="flip-card-inner">
					<div class="flip-card-front">
						<img class="flip-image" src="~/images/Card-Monster-Blade-Front.png" alt="Blade">
					</div>
					<div class="flip-card-back">
						<img class="flip-image" src="~/images/Card-Monster-Blade-Back.png" alt="Blade">
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-6 p-2">
			<div class="flip-card mx-auto">
				<div class="flip-card-inner">
					<div class="flip-card-front">
						<img src="~/images/Card-Monster-Melville-Front.png" alt="Melville" class="flip-image">
					</div>
					<div class="flip-card-back">
						<img src="~/images/Card-Monster-Melville-Back.png" alt="Melville" class="flip-image">
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-6 p-2 ">
			<div class="flip-card mx-auto">
				<div class="flip-card-inner">
					<div class="flip-card-front">
						<img src="~/images/Card-Monster-Mingle-Front.png" alt="Mingle" class="flip-image">
					</div>
					<div class="flip-card-back">
						<img src="~/images/Card-Monster-Mingle-Back.png" alt="Mingle" class="flip-image">
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-6 p-2 ">
			<div class="flip-card mx-auto" >
				<div class="flip-card-inner">
					<div class="flip-card-front">
						<img src="~/images/Card-Monster-Yodel-Front.png" alt="Yodel" class="flip-image">
					</div>
					<div class="flip-card-back">
						<img src="~/images/Card-Monster-Yodel-Back.png" alt="Yodel" class="flip-image">
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row ">
		<div class="col-xs-6 p-2">
			<div class="flip-card mx-auto">
				<div class="flip-card-inner">
					<div class="flip-card-front">
						<img src="~/images/Card-Stargazers-Charmaine-Front.png" alt="Charmaine" class="flip-image">
					</div>
					<div class="flip-card-back">
						<img src="~/images/Card-Stargazers-Charmaine-Back.png" alt="Charmaine" class="flip-image">
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-6 p-2">
			<div class="flip-card mx-auto">
				<div class="flip-card-inner">
					<div class="flip-card-front">
						<img src="~/images/Card-Stargazers-Mindigo-Front.png" alt="Mindigo" class="flip-image">
					</div>
					<div class="flip-card-back">
						<img src="~/images/Card-Stargazers-Mindigo-Back.png" alt="Mindigo" class="flip-image">
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-6 p-2 ">
			<div class="flip-card mx-auto">
				<div class="flip-card-inner">
					<div class="flip-card-front">
						<img src="~/images/Card-Stargazers-Gill-Front.png" alt="Gill" class="flip-image">
					</div>
					<div class="flip-card-back">
						<img src="~/images/Card-Stargazers-Gill-Back.png" alt="Gill" class="flip-image">
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-6 p-2 ">
			<div class="flip-card mx-auto">
				<div class="flip-card-inner">
					<div class="flip-card-front">
						<img src="~/images/Card-Stargazers-Trisaphron-Front.png" alt="Trisaphron" class="flip-image">
					</div>
					<div class="flip-card-back">
						<img src="~/images/Card-Stargazers-Trisaphron-Back.png" alt="Trisaphron" class="flip-image">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
